﻿
@{
    ViewData["Title"] = "Home Page";
}

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">@ViewData["ErrorMessage"]</div>
}
@if (ViewData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">@ViewData["SuccessMessage"]</div>
}
<h1>Login Page</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login" method="post">
                <div class="form-group mb-3">
                    <label  class="form-label">Email</label>
                    <input  type="text" name="email" class="form-control" />
                    <span  class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Password</label>
                    <input  type="password" name="pass"class="form-control" />
                    <span  class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
            @{
                string myString = TempData["MyString"] as string;
                TempData.Remove("MyString"); // Xóa dữ liệu TempData để tránh lưu trữ dư thừa
            }
            <p style="color: red;">@myString</p>
        </div>
    </div>
</div>