﻿@using BusinessObjects.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AspNetUser

@{
    ViewData["Title"] = "Edit Member";
}

<div class="container">
    <h1>Edit Member</h1>

    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="UserName">UserName:</label>
            <input asp-for="UserName" class="form-control" name="userName" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email:</label>
            <input asp-for="Email" class="form-control" name="email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FirstName">FirstName:</label>
            <input asp-for="FirstName" class="form-control" name="firstName" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName">LastName:</label>
            <input asp-for="LastName" class="form-control" name="lastName" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PasswordHash">PasswordHash:</label>
            <input asp-for="PasswordHash" class="form-control" name="passwordHash" />
            <span asp-validation-for="PasswordHash" class="text-danger"></span>
        </div>
        <!-- Thêm các trường dữ liệu khác cần chỉnh sửa -->

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>