﻿
@{
}
@model List<DataTransfer.AspNetUserRequest>

@{
    ViewData["Title"] = "ListMembers";
}

<div class="container">
    <h1>List Members</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>

    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>PasswordHash</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model)
                {
                    <tr>
                        <td>@member.UserName</td>
                        <td>@member.Email</td>
                        <td>@member.FirstName</td>
                        <td>@member.LastName</td>
                        <td>@member.PasswordHash</td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@member.Id">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@member.Id">Delete</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }
    else
    {
        <p>No members found.</p>
    }
</div>
<style>
    .btn-back {
        background-color: #111111;
        color: white;
    }
</style>
<a class="btn btn-warning btn-back" href="https://localhost:7125/Product/Index">Back</a>