﻿@using BusinessObjects.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Product>
@{
    ViewData["Title"] = "Index";
    string keyword = ViewData["keyword"] as string;
}

<h2>Product List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<form asp-action="Search" method="get">
    <input type="text" id="propertyName" name="SearchValue" class="form-control" />
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Weight</th>
            <th>Category Id</th>
            <th>Units In Stock</th>
            <th>Unit Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.Weight</td>
                <td>@product.CategoryId</td>
                <td>@product.UnitslnStock</td>
                <td>@product.UnitPrice</td>
                <td>

                    <a asp-action="Edit" asp-route-id="@product.ProductId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@product.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    .btn-back {
        background-color: #111111;
        color: white;
    }
</style>
<a class="btn btn-warning btn-back" href="https://localhost:7042/Member/Index">Back</a>