﻿@using BusinessObjects.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Order

<h2>Edit Order</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="OrderId" name="orderID" />
    <div class="form-group">
        <label asp-for="OrderDate" class="control-label"></label>
        <input asp-for="OrderDate" class="form-control" name="orderDate" />
        <span asp-validation-for="OrderDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RequiredDate" class="control-label"></label>
        <input asp-for="RequiredDate" class="form-control" name="requiredDate" />
        <span asp-validation-for="RequiredDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippedDate" class="control-label"></label>
        <input asp-for="ShippedDate" class="form-control" name="shippedDate" />
        <span asp-validation-for="ShippedDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Freight" class="control-label"></label>
        <input asp-for="Freight" class="form-control" name="freight" />
        <span asp-validation-for="Freight" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MemberId" class="control-label"></label>
        <input asp-for="MemberId" class="form-control" name="memberId" />
        <span asp-validation-for="MemberId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</form>
